#weather__today {
  padding: 1rem;
  border: 1px solid #aaa;
}

.icon img {
  background: #41969e;
  border-radius: 50%;
}

.temperature {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.temperature .temp {
  font-weight: 700;
  font-size: 24px;
  padding: 25% 0;
}

.table {
  display: table;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  padding: 5px 30px 5px 5px;
  border: 1px solid #ccc;
}